flows.json
[{"id":"ad59bc01.bdef5","type":"tab","label":"Test Animation","disabled":false,"info":""},{"id":"cfcb01a3.1bd47","type":"ui_svg_graphics","z":"ad59bc01.bdef5","group":"23b16fbe.b0541","order":23,"width":"12","height":"12","svgString":"<svg\n   xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\n   xmlns:cc=\"http://creativecommons.org/ns#\"\n   xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"\n   xmlns:svg=\"http://www.w3.org/2000/svg\"\n   xmlns=\"http://www.w3.org/2000/svg\"\n   xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n   xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\"\n   xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\"\n   id=\"svg2\"\n   version=\"1.1\"\n   inkscape:version=\"0.48.2 r9819\"\n   width=\"600\"\n   height=\"600\"\n   viewBox=\"0 0 600 600\"\n   sodipodi:docname=\"gear-anim.svg\">\n  <sodipodi:namedview\n     pagecolor=\"#ffffff\"\n     bordercolor=\"#666666\"\n     borderopacity=\"1\"\n     objecttolerance=\"10\"\n     gridtolerance=\"10\"\n     guidetolerance=\"10\"\n     inkscape:pageopacity=\"0\"\n     inkscape:pageshadow=\"2\"\n     inkscape:window-width=\"1739\"\n     inkscape:window-height=\"838\"\n     id=\"namedview4\"\n     showgrid=\"false\"\n     borderlayer=\"true\"\n     inkscape:showpageshadow=\"false\"\n     inkscape:zoom=\"0.48750832\"\n     inkscape:cx=\"68.256195\"\n     inkscape:cy=\"279.24558\"\n     inkscape:window-x=\"450\"\n     inkscape:window-y=\"46\"\n     inkscape:window-maximized=\"0\"\n     inkscape:current-layer=\"svg2\"\n     showguides=\"false\">\n    <inkscape:grid\n       type=\"xygrid\"\n       id=\"grid3757\"\n       empspacing=\"100\"\n       visible=\"true\"\n       enabled=\"true\"\n       snapvisiblegridlinesonly=\"false\" />\n  </sodipodi:namedview>\n  <metadata\n     id=\"metadata8\">\n    <rdf:RDF>\n      <cc:Work\n         rdf:about=\"\">\n        <dc:format>image/svg+xml</dc:format>\n        <dc:type\n           rdf:resource=\"http://purl.org/dc/dcmitype/StillImage\" />\n        <dc:title></dc:title>\n      </cc:Work>\n    </rdf:RDF>\n  </metadata>\n  <defs\n     id=\"defs6\" />\n\n  <path\n     style=\"fill:#65c4ff;fill-opacity:1\"\n     d=\"m 278.12748,498.21403 c -69.69859,-8.4164 -130.5709,-52.17746 -159.96831,-115.00115 -7.28202,-15.56203 -12.94615,-34.02475 -16.50254,-53.79151 -1.27872,-7.1073 -1.64134,-13.98646 -1.65511,-31.39931 -0.0155,-19.66101 0.23679,-23.64351 2.13372,-33.67463 7.81573,-41.32999 25.60367,-76.04296 53.80536,-105.00057 11.49805,-11.80625 19.59945,-18.56568 32.83899,-27.39936 23.10389,-15.41533 48.98418,-25.69085 77.04457,-30.58977 15.79947,-2.758357 41.78884,-3.370902 57.60632,-1.35773 35.49963,4.5182 67.95944,17.55194 96.51725,38.75504 12.06718,8.95944 32.13673,29.10144 41.17254,41.32114 19.21991,25.99232 31.07564,54.13736 37.22336,88.36681 1.26773,7.05834 1.63946,14.00425 1.65637,30.94425 0.0191,18.88718 -0.26246,23.42102 -2.07846,33.50423 -7.75191,43.04356 -27.57354,80.38704 -58.57872,110.36074 -29.7519,28.7622 -65.12608,46.38751 -107.84789,53.73566 -9.77436,1.68118 -43.2331,2.44992 -53.36745,1.22616 z m 25.2827,-19.30462 c 0.49457,-0.62571 1.1303,-4.00456 1.41272,-7.50854 0.8011,-9.93948 1.26713,-10.42888 9.95465,-10.45401 4.98138,-0.0144 5.40438,0.49727 7.13893,8.63377 1.72009,8.06849 2.27727,8.86791 5.71554,8.19956 1.59418,-0.3099 4.02991,-0.77908 5.41282,-1.04263 l 2.51427,-0.47916 -0.23591,-8.79317 -0.23591,-8.79316 5.28855,-1.6781 c 2.90863,-0.92294 5.91063,-1.43969 6.671,-1.1483 0.76036,0.29138 2.85881,3.80812 4.66327,7.81497 2.11254,4.69109 3.79354,7.27806 4.72091,7.26519 2.71509,-0.0376 9.18672,-3.5267 9.18672,-4.95273 0,-0.78166 -0.81945,-4.37461 -1.82118,-7.98433 -2.10482,-7.58543 -1.86609,-8.08731 5.31718,-11.17493 4.88255,-2.09868 5.68046,-1.67621 10.92555,5.78457 2.16745,3.08311 4.59209,5.60565 5.38809,5.60565 0.7959,0 3.21245,-1.03314 5.37009,-2.29589 4.40054,-2.57539 4.40136,-2.45081 -0.0727,-11.26888 -3.352,-6.60598 -3.09864,-7.66649 2.75918,-11.54946 l 5.08182,-3.36853 6.263,6.20666 6.26309,6.20666 3.672,-2.54129 c 6.16927,-4.26953 6.16527,-4.22498 1.04309,-11.50886 -2.54146,-3.61398 -4.62082,-7.00309 -4.62082,-7.53136 0,-1.75789 7.64127,-8.7658 9.53118,-8.74117 1.02345,0.0133 4.29036,1.85634 7.25991,4.09557 2.96945,2.2392 5.89509,4.0713 6.50127,4.0713 1.16418,0 7.69382,-6.78501 7.69382,-7.9947 0,-0.38967 -2.46073,-3.14016 -5.46818,-6.11224 -3.00746,-2.97207 -5.46819,-6.07442 -5.46819,-6.8941 0,-1.92557 6.11709,-9.94321 7.58619,-9.94321 0.61772,0 4.15427,1.45067 7.85899,3.2237 3.70473,1.77305 7.17909,3.04625 7.72082,2.82934 0.54173,-0.21691 2.01027,-2.31172 3.26336,-4.65513 l 2.27846,-4.26074 -2.35346,-1.98156 c -1.29436,-1.08985 -4.26763,-3.30417 -6.60736,-4.9207 -2.72818,-1.885 -4.25391,-3.60958 -4.25391,-4.80841 0,-2.6101 4.34718,-10.91 5.71428,-10.91 0.61972,0 3.9949,0.81911 7.50045,1.82024 3.50554,1.00115 7.037,1.82026 7.84763,1.82026 1.44237,0 4.45564,-6.21656 4.45564,-9.19216 0,-0.8533 -2.832,-2.71909 -7.29082,-4.80343 -7.97891,-3.7298 -8.08063,-3.90907 -6.27827,-11.05737 1.48546,-5.89135 2.25827,-6.25041 11.35673,-5.2764 8.89372,0.95208 8.83954,0.98634 9.89109,-6.25502 l 0.62072,-4.27494 -3.46618,-0.90989 c -1.90645,-0.50045 -5.40182,-1.38673 -7.76763,-1.96952 -2.36573,-0.58279 -4.72609,-1.57068 -5.24518,-2.1953 -0.9901,-1.19136 0.01,-11.74008 1.22872,-12.95687 0.35273,-0.35226 3.39382,-0.78008 6.758,-0.9507 9.57245,-0.4855 9.90418,-0.63332 10.55591,-4.7033 0.31627,-1.97518 0.19882,-4.57952 -0.26109,-5.78741 -0.76346,-2.00534 -1.49609,-2.24687 -8.43091,-2.77956 -9.23718,-0.70954 -10.06063,-1.49407 -9.68309,-9.22528 l 0.26546,-5.43596 4.10118,-1.11063 c 2.25554,-0.61086 5.844,-1.56029 7.97436,-2.10984 3.70773,-0.95651 3.86936,-1.14355 3.78236,-4.37709 -0.212,-7.88444 -0.27,-7.92853 -10.43354,-7.92853 l -9.06973,0 -1.33654,-5.27409 c -0.89418,-3.52843 -1.04482,-5.7361 -0.45491,-6.66994 0.48491,-0.76772 3.75209,-2.61652 7.26036,-4.10845 3.50827,-1.49193 6.70445,-3.03417 7.10255,-3.4272 0.56027,-0.55311 -2.58982,-11.0617 -3.29555,-10.9939 -0.0891,0.008 -3.23818,0.82067 -6.99754,1.80465 -10.15409,2.65775 -10.20728,2.64315 -13.20555,-3.6215 -2.55591,-5.34024 -2.57263,-5.47686 -0.89791,-7.32495 0.93864,-1.03576 4.08582,-3.32653 6.99364,-5.09059 2.90791,-1.76406 5.28709,-3.60762 5.28709,-4.0968 0,-1.25009 -2.69118,-6.41528 -4.29627,-8.24579 -1.24682,-1.42196 -1.83091,-1.3086 -8.20609,1.59272 -3.775,1.71802 -7.40882,3.12366 -8.07518,3.12366 -1.53491,0 -7.67455,-7.95461 -7.67455,-9.94322 0,-0.81968 2.46073,-3.92202 5.46818,-6.8941 3.00746,-2.97207 5.46809,-5.83522 5.46809,-6.36254 0,-1.60565 -5.51027,-7.74439 -6.95145,-7.74439 -0.74291,0 -3.78073,1.64795 -6.75073,3.66211 -2.97,2.01416 -6.05372,3.91264 -6.85272,4.21883 -1.74764,0.66973 -9.51982,-6.56577 -9.51982,-8.86246 0,-0.83196 2.04609,-4.31541 4.54682,-7.74101 l 4.54681,-6.22834 -2.89636,-2.98427 c -4.71009,-4.85301 -5.629,-4.74136 -12.10727,1.47096 -3.17891,3.04847 -6.08054,5.54268 -6.448,5.54268 -1.79418,0 -10.426,-6.65466 -10.426,-8.03793 0,-0.86335 1.43546,-4.56084 3.18982,-8.21663 1.75436,-3.6558 3.18973,-6.81317 3.18973,-7.01638 0,-0.48923 -6.41855,-4.46767 -8.35891,-5.18112 -1.13064,-0.41577 -2.71973,1.07676 -6.161,5.78691 -2.55054,3.49097 -5.20673,6.56541 -5.90273,6.83212 -1.67172,0.64062 -10.4939,-3.85975 -11.20763,-5.71722 -0.30718,-0.79943 0.32718,-4.46016 1.40982,-8.13494 1.08263,-3.6748 1.96836,-7.07021 1.96836,-7.54536 0,-0.79899 -9.97963,-5.02088 -10.49445,-4.43968 -0.12646,0.14275 -1.92264,3.63837 -3.99146,7.76807 -2.06891,4.12969 -4.20654,7.50852 -4.75036,7.50852 -2.83109,0 -10.94827,-3.06385 -11.62673,-4.38854 -0.43018,-0.83999 -0.46345,-3.9846 -0.0736,-6.98802 1.34391,-10.36088 1.57882,-9.9466 -6.22755,-10.98075 l -4.37781,-0.57996 -2.51382,8.38634 -2.51382,8.38634 -5.87595,-0.37364 c -3.23177,-0.20551 -6.38241,-0.87944 -7.00144,-1.49763 -0.62646,-0.62562 -1.27743,-4.23841 -1.46817,-8.14815 -0.18846,-3.8633 -0.75861,-7.53612 -1.26701,-8.16183 -1.2003,-1.47728 -9.32325,-1.47728 -10.49034,0 -0.49433,0.62571 -1.15938,4.07257 -1.47788,7.65968 -0.31851,3.58713 -0.80755,7.11655 -1.08676,7.84317 -0.56776,1.47757 -12.03749,3.06167 -13.24614,1.82944 -0.38979,-0.39738 -1.68349,-4.20374 -2.87489,-8.45857 -2.39345,-8.54765 -2.09133,-8.3512 -10.49556,-6.82454 l -2.97178,0.53985 0.23771,8.82415 0.23771,8.82416 -5.2885,1.67809 c -2.90867,0.92295 -5.91062,1.43969 -6.67099,1.1483 -0.76036,-0.29138 -2.85883,-3.80811 -4.66326,-7.81496 -2.11258,-4.69109 -3.7936,-7.27806 -4.72097,-7.26519 -2.71503,0.0377 -9.18675,3.52669 -9.18675,4.95273 0,0.78166 0.81955,4.37461 1.8212,7.98433 2.10487,7.58543 1.86608,8.0873 -5.31714,11.17493 -4.88253,2.09868 -5.68048,1.67621 -10.92554,-5.78457 -2.16746,-3.08311 -4.5921,-5.60566 -5.38806,-5.60566 -0.79596,0 -3.21253,1.03315 -5.37015,2.29589 -4.40051,2.5754 -4.40132,2.45082 0.0732,11.26889 3.34672,6.59551 3.09443,7.66931 -2.70526,11.5137 -5.77789,3.82998 -5.30686,3.98104 -12.84228,-4.11857 l -4.65544,-5.004 -3.75408,2.59805 c -6.26226,4.33388 -6.25598,4.26937 -1.12507,11.56564 2.54144,3.61398 4.62079,7.00309 4.62079,7.53135 0,1.7579 -7.64124,8.76581 -9.53116,8.74118 -1.02344,-0.0134 -4.29041,-1.85634 -7.25993,-4.09557 -2.96951,-2.23921 -5.8951,-4.07131 -6.5013,-4.07131 -1.16685,0 -7.69377,6.78633 -7.69377,7.99957 0,0.39232 2.46067,3.10696 5.46815,6.03251 3.00748,2.92557 5.46814,5.93929 5.46814,6.69717 0,2.01703 -4.77151,9.24085 -6.46082,9.78137 -0.79661,0.25488 -4.65475,-0.99578 -8.57363,-2.77925 -3.91889,-1.78348 -7.57329,-3.06339 -8.12088,-2.84424 -0.5476,0.21916 -2.02091,2.31581 -3.27403,4.65922 l -2.27839,4.26075 2.35343,1.98155 c 1.29437,1.08985 4.26767,3.30417 6.60733,4.9207 2.7282,1.885 4.25392,3.60958 4.25392,4.80842 0,2.61009 -4.34717,10.90999 -5.71423,10.90999 -0.61971,0 -3.99491,-0.81911 -7.50045,-1.82025 -8.68813,-2.48122 -9.13703,-2.40505 -10.83733,1.83867 -2.44758,6.10883 -2.17155,6.59867 5.82487,10.33667 8.03812,3.75751 8.24051,4.12993 6.10963,11.24303 -1.75022,5.84244 -2.13973,6.0227 -10.808,5.00134 -6.19117,-0.72949 -7.79387,-0.66162 -8.62108,0.36505 -1.44987,1.79943 -2.39635,9.65067 -1.24879,10.35893 0.51518,0.31798 4.00869,1.30138 7.76337,2.18535 4.31644,1.01623 7.1371,2.18647 7.6709,3.18253 0.84205,1.57124 -0.0385,11.39312 -1.11802,12.4712 -0.3065,0.3061 -3.34849,0.73992 -6.75999,0.96406 -9.80494,0.6442 -9.99362,0.72891 -10.64194,4.77782 -0.31627,1.97519 -0.19782,4.58206 0.26323,5.79306 0.76866,2.01902 1.46518,2.24473 8.38951,2.71869 9.22969,0.63176 10.10393,1.46628 9.72232,9.2805 l -0.26547,5.43596 -4.10111,1.11064 c -2.25561,0.61085 -5.89831,1.57486 -8.0949,2.14224 l -3.9938,1.03162 0.52377,5.06784 c 0.28805,2.78732 0.8658,5.40944 1.28387,5.82694 0.41806,0.4175 4.02531,0.39341 8.0161,-0.0536 3.99079,-0.44693 7.84781,-0.48186 8.57114,-0.0776 1.42341,0.79549 3.68253,7.36609 3.70492,10.77565 0.0115,1.76075 -1.25791,2.69334 -7.7327,5.68066 -4.2606,1.96574 -7.74654,3.76691 -7.74654,4.00261 0,0.57237 3.73137,10.51253 3.93875,10.49261 0.0893,-0.008 3.23819,-0.82067 6.99754,-1.80465 10.14948,-2.65655 10.20861,-2.64043 13.19422,3.59776 3.04978,6.37223 3.06739,6.33408 -5.49721,11.90659 -3.23087,2.10214 -5.87429,4.20387 -5.87429,4.6705 0,1.21608 2.71549,6.40197 4.29626,8.20478 1.24685,1.42196 1.83093,1.3086 8.2061,-1.59272 3.77503,-1.71801 7.40887,-3.12365 8.07521,-3.12365 1.53487,0 7.67449,7.9546 7.67449,9.94321 0,0.81968 -2.46066,3.92202 -5.46813,6.8941 -3.00748,2.97207 -5.46815,5.83522 -5.46815,6.36255 0,1.61428 5.51402,7.74439 6.96606,7.74439 0.75087,0 3.95144,-1.843 7.11241,-4.09557 3.16095,-2.25255 6.29474,-4.09556 6.96399,-4.09556 1.62314,0 9.03233,7.3201 9.03233,8.92373 0,0.69505 -2.05203,4.17238 -4.56006,7.7274 l -4.56006,6.46366 2.90959,2.99786 c 4.72452,4.86789 5.63916,4.75792 12.12048,-1.45734 3.17896,-3.04848 6.08056,-5.54268 6.448,-5.54268 1.79424,0 10.42598,6.65465 10.42598,8.03792 0,0.86336 -1.43539,4.56085 -3.18975,8.21664 -1.75436,3.65579 -3.18975,6.81316 -3.18975,7.01637 0,0.49227 6.42365,4.46944 8.38328,5.19048 1.15718,0.42577 2.57468,-0.86707 5.61363,-5.12002 6.17825,-8.64633 6.10555,-8.61385 12.47525,-5.57352 6.23087,2.97405 6.33518,3.32922 3.60263,12.26626 -0.99483,3.25369 -1.81193,6.39833 -1.81575,6.98807 -0.006,0.93899 9.88856,5.32424 10.48755,4.64803 0.12645,-0.14276 1.92259,-3.63839 3.99144,-7.76808 2.06884,-4.12969 4.20648,-7.50852 4.75029,-7.50852 2.91862,0 10.96553,3.087 11.72085,4.49642 0.48195,0.89931 0.74089,1.79136 0.57542,1.98232 -0.16548,0.19095 -0.57384,3.47257 -0.90748,7.29248 -0.68371,7.82789 -0.85227,7.60687 6.54923,8.58739 l 4.38759,0.58125 2.25476,-8.05696 2.25476,-8.05697 6.08255,0 c 3.50683,0 6.54427,0.46125 7.17287,1.08921 0.59967,0.59907 1.28611,4.28507 1.52545,8.19113 0.23933,3.90605 0.84452,7.61386 1.34487,8.23957 0.50035,0.62571 2.85984,1.13765 5.24332,1.13765 2.38348,0 4.73825,-0.51194 5.23284,-1.13765 z\"\n     id=\"gear-B\"\n     inkscape:connector-curvature=\"0\">\n  </path>\n  <path\n     id=\"gear-A\"\n     style=\"fill:#ff6584;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none\"\n     d=\"m 299.8116,343.84392 c 22.58158,-0.28673 42.62107,15.91793 46.43184,38.83342 4.20497,25.28611 -12.94871,49.21058 -38.28321,53.4075 -25.33444,4.19684 -49.29925,-12.93246 -53.50423,-38.2185 -4.20497,-25.28607 12.94867,-49.21043 38.2832,-53.40749 2.37512,-0.39345 4.73639,-0.58552 7.0724,-0.61493 z m -9.90136,-41.04722 c -0.60003,-0.0462 -1.28509,0.042 -1.96797,0.21523 -1.36561,0.34605 -0.74081,0.21174 -2.12172,0.49195 -1.38076,0.28056 -2.63729,0.86373 -2.89046,1.78333 -0.51441,1.86727 3.07706,15.4993 2.39847,17.2183 -0.32994,0.83581 -2.72912,1.43754 -7.3184,3.0747 -4.58927,1.63712 -6.68027,2.67155 -7.47214,2.24452 -1.62863,-0.87866 -7.65745,-13.62998 -9.25562,-14.7278 -0.78725,-0.54035 -2.14547,-0.18147 -3.38245,0.49196 -1.2372,0.67338 -0.66918,0.37069 -1.93722,0.9839 -1.26811,0.61303 -2.31994,1.5371 -2.33697,2.49051 -0.0346,1.93613 6.81083,14.21663 6.58041,16.04992 -0.11188,0.89143 -2.53063,1.70518 -4.55094,3.47441 -2.02037,1.76914 -3.15897,4.04337 -4.05894,4.02785 -1.85076,-0.031 -13.08056,-8.55378 -15.00579,-8.79363 -0.94791,-0.11784 -1.98033,0.80155 -2.76746,1.9678 -0.78749,1.16614 -0.41786,0.65622 -1.26073,1.78332 -0.8428,1.1271 -1.37787,2.40483 -0.95323,3.25919 0.86287,1.73423 12.80727,9.96526 13.28381,11.25339 0.47647,1.28815 -1.01754,2.73798 -3.29021,7.04106 -2.2727,4.30309 -3.21396,6.58718 -4.08969,6.79508 -1.80085,0.42728 -14.77217,-5.04067 -16.69701,-4.79653 -0.94767,0.12044 -1.7409,1.25801 -2.21397,2.58274 -0.47319,1.32481 -0.23226,0.72886 -0.76874,2.0293 -0.53682,1.30054 -0.7465,2.6904 -0.123,3.41292 1.26661,1.46669 14.59995,6.07397 15.65153,7.5945 0.51136,0.73946 -0.78853,2.96102 -1.81422,5.90342 -1.02576,2.94225 -0.28405,5.36402 -0.95324,5.96491 -1.37605,1.2361 -15.40104,2.6477 -16.97376,3.78188 -0.77423,0.55826 -0.8966,1.96249 -0.67649,3.35142 0.22038,1.38907 0.124,0.75412 0.27675,2.15229 0.15266,1.3982 0.64338,2.70764 1.53748,3.04395 1.8156,0.68227 15.72087,-1.63188 17.3735,-0.79942 0.80366,0.40467 1.15429,2.68426 2.42921,7.37927 1.27487,4.69485 2.15951,7.00051 1.66048,7.74824 -1.02604,1.53782 -14.28661,6.35271 -15.52853,7.84048 -0.61148,0.73269 -0.40454,2.12156 0.15375,3.41291 0.5583,1.2912 0.33496,0.71274 0.83024,2.0293 0.49527,1.31689 1.295,2.4475 2.24472,2.552 1.92843,0.2118 14.82773,-5.47072 16.63551,-5.07325 0.87917,0.19321 1.76042,3.96281 3.0442,5.71894 1.28374,1.75613 3.80471,4.33238 3.7207,5.22698 -0.17242,1.83943 -9.54582,12.36894 -9.93211,14.2666 -0.19012,0.93446 0.67843,2.04852 1.78348,2.92096 1.10508,0.87255 0.59872,0.45885 1.66047,1.38362 1.06173,0.92472 2.31213,1.55663 3.19796,1.19913 1.79833,-0.72641 10.45794,-11.85419 12.23832,-12.36028 0.86572,-0.24574 2.67016,1.22284 6.79566,3.81262 4.12559,2.58975 6.31662,3.69382 6.4574,4.5813 0.28989,1.82478 -6.15483,14.33104 -6.05766,16.26514 0.0477,0.95243 1.14175,1.82639 2.42922,2.39827 1.28735,0.57186 0.70971,0.28937 1.96797,0.92241 1.25834,0.63333 2.61314,0.9346 3.38245,0.36896 1.56188,-1.1486 7.19508,-14.07372 8.79437,-15.00452 0.77766,-0.45259 2.87049,0.947 6.14991,2.15229 3.27936,1.2053 5.78321,0.80442 6.30366,1.53734 1.07057,1.50731 0.8369,15.58944 1.78348,17.27981 0.466,0.8322 1.85165,1.13351 3.25945,1.07614 1.40794,-0.0568 0.74338,-0.0708 2.15247,-0.0615 1.40915,0.0116 2.79036,-0.32114 3.22871,-1.16839 0.88927,-1.72095 0.17957,-15.76857 1.19923,-17.31054 0.49596,-0.74975 2.80601,-0.81718 7.62589,-1.53735 4.82002,-0.72029 7.21612,-1.31904 7.90264,-0.73793 1.41149,1.19549 4.69011,14.89244 6.02691,16.2959 0.65836,0.69108 2.06343,0.61934 3.4132,0.21522 1.34975,-0.40396 0.72336,-0.24554 2.09097,-0.58419 1.36792,-0.33855 2.61494,-0.97682 2.82896,-1.90631 0.43411,-1.8871 -3.74123,-15.34903 -3.13645,-17.09532 0.29418,-0.84916 2.85323,-1.09755 5.81166,-3.0132 2.95848,-1.91575 4.43322,-4.02936 5.31968,-3.87412 1.8233,0.31935 11.57341,10.47067 13.43755,11.00741 0.91819,0.26423 2.11483,-0.47724 3.07496,-1.5066 0.96033,-1.02924 0.49795,-0.58606 1.50673,-1.56809 1.00881,-0.98217 1.73118,-2.16487 1.44523,-3.0747 -0.58086,-1.84783 -10.98431,-11.34796 -11.34659,-13.1597 -0.17599,-0.88108 1.51968,-2.69215 4.48944,-6.54911 2.96981,-3.85698 4.14553,-5.83419 5.04292,-5.90341 1.84584,-0.14166 13.83542,7.28957 15.77453,7.34852 0.95513,0.0285 1.90839,-1.00989 2.58296,-2.24453 0.67457,-1.23481 0.3429,-0.67466 1.07624,-1.87557 0.73322,-1.20072 1.14876,-2.54076 0.64574,-3.35141 -1.02155,-1.64623 -13.46663,-8.26555 -14.2678,-9.93128 -0.38946,-0.80985 0.73563,-1.54376 1.75273,-5.74969 1.01715,-4.2058 0.38684,-6.68496 1.19923,-7.0718 1.67053,-0.79611 15.54331,1.84179 17.3735,1.19914 0.90116,-0.31665 1.41562,-1.6188 1.59898,-3.01321 0.18336,-1.39428 0.0879,-0.76829 0.33824,-2.15229 0.2508,-1.38421 0.14675,-2.77585 -0.61499,-3.35142 -1.5474,-1.16804 -15.5636,-2.88504 -16.91226,-4.15084 -0.65586,-0.61542 0.11023,-3.02618 -0.39974,-6.73359 -0.50993,-3.70729 -1.60185,-5.96607 -1.04549,-6.67209 1.1442,-1.45252 14.72644,-5.22507 16.08202,-6.6106 0.66728,-0.68229 0.54698,-2.08173 0.0922,-3.41292 -0.45433,-1.33109 -0.25595,-0.70838 -0.64574,-2.06004 -0.38981,-1.35135 -1.09099,-2.55766 -2.02947,-2.73648 -1.90577,-0.36317 -15.23371,4.28942 -17.0045,3.75113 -0.86113,-0.26174 -1.65864,-2.60545 -3.6592,-7.04105 -2.00046,-4.43575 -3.19251,-6.40364 -2.82896,-7.22555 0.7479,-1.69024 12.99126,-8.71501 13.9603,-10.39247 0.47704,-0.82628 0.033,-2.14354 -0.73799,-3.32067 -0.77106,-1.17717 -0.45505,-0.63195 -1.16848,-1.84483 -0.71318,-1.21267 -1.691,-2.21109 -2.64447,-2.15228 -1.93646,0.11998 -13.6793,7.92372 -15.52852,7.84047 -0.89927,-0.0402 -1.89527,-2.4087 -3.8437,-4.42755 -1.94843,-2.01882 -4.32161,-2.91744 -4.39719,-3.81263 -0.15567,-1.84106 7.21221,-13.83719 7.2569,-15.7732 0.0221,-0.95345 -1.03327,-1.88808 -2.27547,-2.552 -1.24199,-0.66407 -0.66716,-0.35313 -1.87572,-1.07614 -1.20871,-0.72307 -2.5741,-1.12305 -3.38245,-0.61494 -1.64203,1.03184 -8.17695,13.48538 -9.83986,14.29734 -0.8087,0.39454 -2.97806,-0.76232 -7.47215,-2.64424 -4.49412,-1.88208 -6.71505,-2.53363 -7.01089,-3.38217 -0.60813,-1.7452 3.51247,-15.17821 3.07495,-17.06457 -0.21588,-0.92895 -1.42982,-1.60095 -2.79821,-1.93706 -1.36838,-0.33588 -0.77103,-0.18291 -2.12172,-0.58419 -1.35009,-0.40145 -2.7562,-0.44623 -3.4132,0.24598 -1.33409,1.4058 -4.55617,15.09769 -5.96541,16.29589 -0.68532,0.58247 -3.03122,-0.43718 -5.96542,-0.55344 -2.93424,-0.11635 -5.30451,0.82484 -5.96541,0.21523 -1.35951,-1.25415 -4.04398,-15.0829 -5.31968,-16.54188 -0.31422,-0.35916 -0.81444,-0.53808 -1.41448,-0.58419 z\"\n     inkscape:connector-curvature=\"0\">\n  </path>\n</svg>","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[{"id":"rotate_gearA","targetId":"gear-A","classValue":"","attributeName":"transform","transformType":"rotate","fromValue":"0,300,390","toValue":"360,300,390","trigger":"msg","duration":"10","durationUnit":"s","repeatCount":"0","end":"freeze","delay":"1005","delayUnit":"ms","custom":""},{"id":"rotate_gearB","targetId":"gear-B","classValue":"","attributeName":"transform","transformType":"rotate","fromValue":"0,300,300","toValue":"360,300,300","trigger":"msg","duration":"21176","durationUnit":"ms","repeatCount":"0","end":"freeze","delay":"1","delayUnit":"s","custom":""}],"bindings":[],"showCoordinates":true,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"http://127.0.0.1:1880/drawsvg_local/edrawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":"150","cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"","x":580,"y":280,"wires":[[]]},{"id":"8d5f76b2.82b158","type":"inject","z":"ad59bc01.bdef5","name":"Start Animation Small Gear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"trigger_animation\",\"selector\":\"#rotate_gearA\",\"action\":\"start\"}","payloadType":"json","x":170,"y":180,"wires":[["cfcb01a3.1bd47"]]},{"id":"8db5b5d0.25a628","type":"inject","z":"ad59bc01.bdef5","name":"Stop Animation Small Gear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"trigger_animation\",\"selector\":\"#rotate_gearA\",\"action\":\"stop\"}","payloadType":"json","x":170,"y":220,"wires":[["cfcb01a3.1bd47"]]},{"id":"1016fd7e.a94d93","type":"inject","z":"ad59bc01.bdef5","name":"Start Animation Large Gear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"trigger_animation\",\"selector\":\"#rotate_gearB\",\"action\":\"start\"}","payloadType":"json","x":170,"y":280,"wires":[["cfcb01a3.1bd47"]]},{"id":"7abe5129.ecc3c","type":"inject","z":"ad59bc01.bdef5","name":"Stop Animation Large Gear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"trigger_animation\",\"selector\":\"#rotate_gearB\",\"action\":\"stop\"}","payloadType":"json","x":170,"y":320,"wires":[["cfcb01a3.1bd47"]]},{"id":"4d7fad8e.e1be54","type":"ui_svg_graphics","z":"ad59bc01.bdef5","group":"cd052493.f61ef8","order":0,"width":"12","height":"8","svgString":"<svg xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\" xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:rexsvg=\"http://www.rexcontrols.com/rexsvg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"600\" height=\"400\" viewBox=\"0 0 9365.625 5718.75\" version=\"1.1\" id=\"svg136\" sodipodi:docname=\"Machine_2.svg\" inkscape:version=\"1.1.1 (3bf5ae0d25, 2021-09-20)\" preserveAspectRatio=\"xMidYMid meet\">\n  <rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"9365.625\" height=\"5718.75\" style=\"fill:none;stroke:none;\" />\n  <defs id=\"defs140\">\n    <path id=\"SVGID_1_-1\" d=\"m 10.248,56.151 c 0,-25.375 20.571,-45.945 45.945,-45.945 25.376,0 45.945,20.57 45.945,45.945 0,25.376 -20.568,45.947 -45.945,45.947 -25.374,0 -45.945,-20.571 -45.945,-45.947 M 52.829,0 C 24.171,1.691 1.281,24.837 0,53.603 v 5.096 c 1.331,29.885 25.98,53.702 56.193,53.702 31.067,0 56.25,-25.184 56.25,-56.25 C 112.443,26.216 89.055,1.741 59.556,0 Z\" />\n    <rect id=\"SVGID_4_\" width=\"112.5\" height=\"112.5\" x=\"0\" y=\"0\" />\n    <linearGradient id=\"SVGID_1_\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"56.25\" x2=\"94.593803\" y2=\"56.25\" gradientTransform=\"matrix(6.1953192,0,0,5.5968402,4216.3852,3751.718)\">\n      <stop offset=\"0\" style=\"stop-color:#383838\" id=\"stop331\" />\n      <stop offset=\"0.5\" style=\"stop-color:#ECECEC\" id=\"stop333\" />\n      <stop offset=\"0.57\" style=\"stop-color:#D9D9D9\" id=\"stop335\" />\n      <stop offset=\"0.71\" style=\"stop-color:#A8A8A8\" id=\"stop337\" />\n      <stop offset=\"0.92\" style=\"stop-color:#5A5A5A\" id=\"stop339\" />\n      <stop offset=\"1\" style=\"stop-color:#383838\" id=\"stop341\" />\n    </linearGradient>\n    <linearGradient id=\"SVGID_2_\" gradientUnits=\"userSpaceOnUse\" x1=\"22.9727\" y1=\"19.144501\" x2=\"71.507797\" y2=\"19.144501\" gradientTransform=\"matrix(6.1953192,0,0,5.5968402,4216.3852,3751.718)\">\n      <stop offset=\"0\" style=\"stop-color:#383838\" id=\"stop346\" />\n      <stop offset=\"0.5\" style=\"stop-color:#ECECEC\" id=\"stop348\" />\n      <stop offset=\"0.57\" style=\"stop-color:#D9D9D9\" id=\"stop350\" />\n      <stop offset=\"0.71\" style=\"stop-color:#A8A8A8\" id=\"stop352\" />\n      <stop offset=\"0.92\" style=\"stop-color:#5A5A5A\" id=\"stop354\" />\n      <stop offset=\"1\" style=\"stop-color:#383838\" id=\"stop356\" />\n    </linearGradient>\n    <radialGradient id=\"SVGID_3_\" cx=\"47.296902\" cy=\"47.241199\" r=\"34.0378\" gradientTransform=\"matrix(-2.7080601e-7,-5.5968402,7.434383,-2.9357481e-7,4158.195,4280.8326)\" gradientUnits=\"userSpaceOnUse\">\n      <stop offset=\"0\" style=\"stop-color:#ECECEC\" id=\"stop361\" />\n      <stop offset=\"0.14\" style=\"stop-color:#DDDDDD\" id=\"stop363\" />\n      <stop offset=\"0.4\" style=\"stop-color:#B8B8B8\" id=\"stop365\" />\n      <stop offset=\"0.75\" style=\"stop-color:#7C7C7C\" id=\"stop367\" />\n      <stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop369\" />\n    </radialGradient>\n  </defs>\n  <sodipodi:namedview id=\"namedview138\" pagecolor=\"#ffffff\" bordercolor=\"#666666\" borderopacity=\"1.0\" inkscape:pageshadow=\"2\" inkscape:pageopacity=\"0.0\" inkscape:pagecheckerboard=\"0\" showgrid=\"false\" inkscape:zoom=\"3.0935922\" inkscape:cx=\"359.6143\" inkscape:cy=\"281.71134\" inkscape:window-width=\"1366\" inkscape:window-height=\"745\" inkscape:window-x=\"-8\" inkscape:window-y=\"-8\" inkscape:window-maximized=\"1\" inkscape:current-layer=\"svg136\" objecttolerance=\"1\" guidetolerance=\"1\" gridtolerance=\"1\" width=\"600px\">\n    <inkscape:grid type=\"xygrid\" id=\"grid1399\" empspacing=\"5\" spacingx=\"7.8046875\" snapvisiblegridlinesonly=\"false\" spacingy=\"7.1484375\" />\n  </sodipodi:namedview>\n  <g id=\"g209\" transform=\"matrix(6.9636536,0,0,5.1594801,1049.3147,925.24791)\">\n    <path style=\"fill:#cccccc;stroke:#4c4c4c;stroke-width:2\" d=\"m 583,207 h 156 v 42 H 583 Z\" id=\"path2\" />\n    <path style=\"fill:#669999;stroke:#4c4c4c;stroke-width:2\" d=\"m 42,811 h 914 v 82 H 42 Z\" id=\"path4\" />\n    <path style=\"fill:#003333;stroke:#4c4c4c;stroke-width:2\" d=\"M 20,915 H 978 V 893 H 20 Z\" id=\"path6\" />\n    <path style=\"fill:#e5e5e5\" d=\"M 42,811 0,683 20,249 h 958 l 21,434 -43,128 z\" id=\"path8\" />\n    <path style=\"fill:#e0e0e0\" d=\"M 42,811 0,683 9,467 982,357 999,683 956,811 Z\" id=\"path10\" />\n    <path style=\"fill:#dbdbdb\" d=\"M 42,811 0,683 5,575 989,467 999,683 956,811 Z\" id=\"path12\" />\n    <path style=\"fill:#d6d6d6\" d=\"M 42,811 0,683 993,575 l 6,108 -43,128 z\" id=\"path14\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:2\" d=\"M 42,811 0,683 20,249 h 958 l 21,434 -43,128 H 42\" id=\"path16\" />\n    <path style=\"fill:#336666\" d=\"M 249,249 H 749 V 665 H 249 Z\" id=\"path18\" />\n    <path style=\"fill:#cccccc;stroke:#4c4c4c;stroke-width:2\" d=\"M 311,249 H 687 V 665 H 311 Z\" id=\"path20\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:2\" d=\"M 249,249 H 749 V 665 H 249 V 249\" id=\"path22\" />\n    <path style=\"fill:#333333;stroke:#4c4c4c;stroke-width:2\" d=\"m 311,623 h 376 v 42 H 311 Z\" id=\"path24\" />\n    <path style=\"fill:#7f7f7f;stroke:#4c4c4c;stroke-width:2\" d=\"M 311,623 H 687 V 603 H 311 Z\" id=\"path26\" />\n    <path style=\"fill:#e5e5e5;stroke:#4c4c4c;stroke-width:2\" d=\"m 311,603 42,-22 h 292 l 42,22 z\" id=\"path28\" />\n    <path style=\"fill:#e5e5e5\" d=\"M 415,0 H 583 V 331 H 415 Z\" id=\"path30\" />\n    <path style=\"fill:#d9d9d9\" d=\"M 415,0 H 583 V 81 H 415 Z\" id=\"path32\" />\n    <path style=\"fill:#cccccc\" d=\"M 415,0 H 583 V 61 H 415 Z\" id=\"path34\" />\n    <path style=\"fill:#bfbfbf\" d=\"M 415,0 H 583 V 39 H 415 Z\" id=\"path36\" />\n    <path style=\"fill:#b2b2b2\" d=\"M 415,0 H 583 V 20 H 415 Z\" id=\"path38\" />\n    <path style=\"fill:#003333\" d=\"m 707,561 h 22 v 82 h -22 z\" id=\"path40\" />\n    <path style=\"fill:#003333\" d=\"m 269,561 h 22 v 82 h -22 z\" id=\"path42\" />\n    <path style=\"fill:#003333\" d=\"m 183,603 h 46 v 30 h -46 z\" id=\"path44\" />\n    <path style=\"fill:#003333\" d=\"m 125,603 h 44 v 30 h -44 z\" id=\"path46\" />\n    <path style=\"fill:#003333\" d=\"m 73,603 h 44 v 30 H 73 Z\" id=\"path48\" />\n    <path style=\"fill:#003333\" d=\"m 20,603 h 45 v 30 H 20 Z\" id=\"path50\" />\n    <path style=\"fill:#003333\" d=\"m 183,567 h 46 v 30 h -46 z\" id=\"path52\" />\n    <path style=\"fill:#003333\" d=\"m 125,567 h 44 v 30 h -44 z\" id=\"path54\" />\n    <path style=\"fill:#003333\" d=\"m 73,567 h 44 v 30 H 73 Z\" id=\"path56\" />\n    <path style=\"fill:#003333\" d=\"m 183,529 h 46 v 30 h -46 z\" id=\"path58\" />\n    <path style=\"fill:#003333\" d=\"m 125,529 h 44 v 30 h -44 z\" id=\"path60\" />\n    <path style=\"fill:#003333\" d=\"m183,493h46v28h-46Z\" id=\"path62\" />\n    <path style=\"fill:none;stroke:#ffffff;stroke-width:2\" d=\"M 603,353 V 561 H 395\" id=\"path64\" />\n    <path style=\"fill:none;stroke:#999999;stroke-width:2\" d=\"M 603,353 H 395 v 208\" id=\"path66\" />\n    <path style=\"fill:#7f7f7f\" d=\"m 457,415 v -84 h 84 v 84 z\" id=\"path68\" />\n    <path style=\"fill:#999999\" d=\"m 463,415 v -84 h 72 v 84 z\" id=\"path70\" />\n    <path style=\"fill:#b2b2b2\" d=\"m 471,415 v -84 h 56 v 84 z\" id=\"path72\" />\n    <path style=\"fill:#cccccc\" d=\"m 481,415 v -84 h 36 v 84 z\" id=\"path74\" />\n    <path style=\"fill:#e5e5e5\" d=\"m 487,415 v -84 h 24 v 84 z\" id=\"path76\" />\n    <path style=\"fill:#ffffff\" d=\"m 493,415 v -84 h 12 v 84 z\" id=\"path78\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:2\" d=\"m 457,415 v -84 h 84 v 84 h -84\" id=\"path80\" />\n    <path style=\"fill:#cccccc\" d=\"M 291,61 H 415 V 249 H 291 Z\" id=\"path82\" />\n    <path style=\"fill:#c7c7c7\" d=\"M 291,193 415,116 V 249 H 291 Z\" id=\"path84\" />\n    <path style=\"fill:#c2c2c2\" d=\"M 291,201 415,123 V 249 H 291 Z\" id=\"path86\" />\n    <path style=\"fill:#bdbdbd\" d=\"M 291,213 415,135 V 249 H 291 Z\" id=\"path88\" />\n    <path style=\"fill:#b2b2b2;stroke:#4c4c4c;stroke-width:2\" d=\"m 311,269 h 62 v 42 h -62 z\" id=\"path90\" />\n    <path style=\"fill:#b2b2b2;stroke:#4c4c4c;stroke-width:2\" d=\"m 311,311 h 42 v 52 h -42 z\" id=\"path92\" />\n    <path style=\"fill:#ffcc00\" d=\"m 457,831 h 499 v 22 H 457 Z\" id=\"path94\" />\n    <path style=\"fill:#ffcc00\" d=\"m 61,831 h 376 v 22 H 61 Z\" id=\"path96\" />\n    <path style=\"fill:#ffcc00\" d=\"m 707,269 h 22 v 20 h -22 z\" id=\"path98\" />\n    <path style=\"fill:#ffcc00\" d=\"m 425,279 h 64 v 42 h -64 z\" id=\"path100\" />\n    <path style=\"fill:#ffcc00\" d=\"m 321,341 h 32 v 22 h -32 z\" id=\"path102\" />\n    <path style=\"fill:#ffcc00\" d=\"m 229,581 h 20 v 22 h -20 z\" id=\"path104\" />\n    <path style=\"fill:#669999;stroke:#4c4c4c;stroke-width:2\" d=\"M 769,331 H 937 V 499 H 769 Z\" id=\"path106\" />\n    <path style=\"fill:#cccccc;stroke:#4c4c4c;stroke-width:2\" d=\"m 843,551 h -62 l -12,-52 h 84 z\" id=\"path108\" />\n    <path style=\"fill:#cccccc;stroke:#4c4c4c;stroke-width:2\" d=\"m 781,279 h 62 l 10,52 h -84 z\" id=\"path110\" />\n    <path style=\"fill:none;stroke:#003333;stroke-width:2\" d=\"M 61,321 H 229\" id=\"path112\" />\n    <path style=\"fill:none;stroke:#003333;stroke-width:2\" d=\"M 61,341 H 229\" id=\"path114\" />\n    <path style=\"fill:none;stroke:#003333;stroke-width:2\" d=\"M 781,499 V 331\" id=\"path116\" />\n    <path style=\"fill:#003333\" d=\"m 791,341 h 84 v 74 h -84 z\" id=\"path118\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:2\" d=\"m 791,415 v -74 h 82\" id=\"path120\" />\n    <path style=\"fill:none;stroke:#99cccc;stroke-width:2\" d=\"m 873,341 v 74 h -82\" id=\"path122\" />\n    <path style=\"fill:none;stroke:#99cccc;stroke-width:2\" d=\"M 791,435 H 925\" id=\"path124\" />\n    <path style=\"fill:none;stroke:#99cccc;stroke-width:2\" d=\"m 833,435 v 52\" id=\"path126\" />\n    <path style=\"fill:none;stroke:#99cccc;stroke-width:2\" d=\"m 895,435 v 52\" id=\"path128\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:2\" d=\"M 415,0 H 583 V 331 H 415 V 0\" id=\"path130\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:2\" d=\"M 291,61 H 415 V 249 H 291 V 61\" id=\"path132\" />\n    <path style=\"fill:#e5e5e5;stroke:#4c4c4c;stroke-width:2\" d=\"M 311,269 H 687 V 249 H 311 Z\" id=\"path134\" />\n  </g>\n  <g id=\"g536\" transform=\"matrix(7.7749578,0,0,7.2804594,3815.1511,4291.4556)\">\n    <path style=\"fill:#7f7f7f;stroke:#4c4c4c;stroke-width:2\" d=\"M 29,59 H 441 V 88 H 29 Z\" id=\"path515\" />\n    <path style=\"fill:#7f7f7f;stroke:#4c4c4c;stroke-width:2\" d=\"M 36,11 15,32 56,73 77,52 81,48 84,42 85,37 86,31 85,26 84,20 81,15 77,11 73,7 68,4 62,3 57,2 51,3 46,4 40,7 Z\" id=\"path517\" />\n    <circle style=\"fill:#b2b2b2;stroke:#4c4c4c;stroke-width:2\" cx=\"441\" cy=\"58\" r=\"29\" id=\"circle519\" />\n    <circle style=\"fill:#b2b2b2;stroke:#4c4c4c;stroke-width:2\" cx=\"29\" cy=\"58\" r=\"29\" id=\"circle521\" />\n    <path style=\"fill:#7f7f7f;stroke:#4c4c4c;stroke-width:2\" d=\"m 491,50 4,-5 3,-5 1,-5 1,-6 L 498,18 492,8 482,2 471,0 H 59 l -6,1 -5,1 -5,3 -5,3 -29,30 4,-4 5,-3 6,-1 5,-1 h 412 l 6,1 5,1 6,3 4,4 4,4 3,5 1,6 1,6 -1,7 -3,7 -5,6 -6,5 z\" id=\"path523\" />\n  </g>\n  <g transform=\"matrix(51.523247,0,0,46.509289,6311.4128,-419.65247)\" id=\"layer1-0\" inkscape:label=\"Livello 1\">\n    <rect style=\"fill:#0000ff;stroke:none;stroke-width:0.254298\" id=\"rect2991-0\" width=\"34.660416\" height=\"14.552083\" x=\"17.443602\" y=\"84.860855\" rx=\"1.8773369\" />\n    <rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"3.6723204\" ry=\"3.0821497\" y=\"90.395531\" x=\"18.373404\" height=\"7.9443727\" width=\"32.815208\" id=\"alarm-77\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:0.522293;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\" />\n    <text inkscape:label=\"\" style=\"font-size:5.42001px;font-family:Tahoma;text-align:end;text-anchor:end;fill:#00ffff;stroke-width:0.33875\" x=\"41.321472\" y=\"91.913193\" id=\"output\" transform=\"scale(0.95087635,1.0516615)\">0</text>\n    <text inkscape:label=\"\" id=\"R802_PT_P19_unit\" y=\"87.471046\" x=\"45.332966\" style=\"font-weight:bold;font-size:4.34663px;font-family:Tahoma;fill:#ffffff;stroke-width:0.271664\" transform=\"scale(0.90719051,1.1023043)\">Pcs</text>\n    <text inkscape:label=\"\" id=\"tag-08\" y=\"88.778542\" x=\"19.124393\" style=\"font-size:3.94322px;font-family:Tahoma;fill:#ffffff;stroke-width:0.246451\">Output</text>\n  </g>\n  <g transform=\"matrix(51.523247,0,0,46.509289,-263.5606,-3858.4856)\" id=\"layer1-0-6\" inkscape:label=\"Livello 1\">\n    <rect style=\"fill:#008080;stroke:none;stroke-width:0.290302\" id=\"rect2991-0-5\" width=\"45.170422\" height=\"14.552083\" x=\"17.443602\" y=\"84.860855\" rx=\"2.4465628\" />\n    <rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"4.7699866\" ry=\"3.0548925\" y=\"90.430656\" x=\"18.408527\" height=\"7.8741159\" width=\"42.62376\" id=\"alarm-77-5\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:0.592616;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\" />\n    <text inkscape:label=\"\" id=\"R802_PT_P19_unit-1\" y=\"87.280708\" x=\"24.480843\" style=\"font-weight:bold;font-size:4.34663px;font-family:Tahoma;fill:#ffffff;stroke-width:0.271664\" transform=\"scale(0.90719051,1.1023043)\">-</text>\n    <text inkscape:label=\"\" id=\"tag-08-3\" y=\"88.778542\" x=\"19.124393\" style=\"font-size:3.94322px;font-family:Tahoma;fill:#ffffff;stroke-width:0.246451\">Machine Name</text>\n  </g>\n  <g transform=\"matrix(51.523247,0,0,46.509289,-252.74773,-3077.8245)\" id=\"layer1-0-6-8\" inkscape:label=\"Livello 1\">\n    <rect style=\"fill:#808000;stroke:none;stroke-width:0.290302\" id=\"rect2991-0-5-6\" width=\"45.170422\" height=\"14.552083\" x=\"17.443602\" y=\"84.860855\" rx=\"2.4465628\" />\n    <rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"4.7699866\" ry=\"3.0548925\" y=\"90.430656\" x=\"18.408527\" height=\"7.8741159\" width=\"42.62376\" id=\"alarm-77-5-1\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:0.592616;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\" />\n    <text inkscape:label=\"\" id=\"R802_PT_P19_unit-1-6\" y=\"87.280708\" x=\"24.480843\" style=\"font-weight:bold;font-size:4.34663px;font-family:Tahoma;fill:#ffffff;stroke-width:0.271664\" transform=\"scale(0.90719051,1.1023043)\">-</text>\n    <text inkscape:label=\"\" id=\"tag-08-3-3\" y=\"88.778542\" x=\"19.124393\" style=\"font-size:3.94322px;font-family:Tahoma;fill:#ffffff;stroke-width:0.246451\">Product Name</text>\n  </g>\n  <g transform=\"matrix(51.523247,0,0,46.509289,6288.3034,-3251.0214)\" id=\"layer1-0-9\" inkscape:label=\"Livello 1\">\n    <rect style=\"fill:#008000;stroke:none;stroke-width:0.254298\" id=\"rect2991-0-9\" width=\"34.660416\" height=\"14.552083\" x=\"17.443602\" y=\"84.860855\" rx=\"1.8773369\" />\n    <rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"3.6723204\" ry=\"3.0821497\" y=\"90.395531\" x=\"18.373404\" height=\"7.9443727\" width=\"32.815208\" id=\"alarm-77-4\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:0.522293;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\" />\n    <text inkscape:label=\"\" style=\"font-size:5.42001px;font-family:Tahoma;text-align:end;text-anchor:end;fill:#00ffff;stroke-width:0.33875\" x=\"41.321472\" y=\"91.913193\" id=\"ok\" transform=\"scale(0.95087635,1.0516615)\">0</text>\n    <text inkscape:label=\"\" id=\"R802_PT_P19_unit-5\" y=\"87.471046\" x=\"45.332966\" style=\"font-weight:bold;font-size:4.34663px;font-family:Tahoma;fill:#ffffff;stroke-width:0.271664\" transform=\"scale(0.90719051,1.1023043)\">Pcs</text>\n    <text inkscape:label=\"\" id=\"tag-08-7\" y=\"88.778542\" x=\"19.124393\" style=\"font-size:3.94322px;font-family:Tahoma;fill:#ffffff;stroke-width:0.246451\">OK</text>\n  </g>\n  <g transform=\"matrix(51.523247,0,0,46.509289,6288.3034,-2479.0835)\" id=\"layer1-0-9-1\" inkscape:label=\"Livello 1\">\n    <rect style=\"fill:#d40000;stroke:none;stroke-width:0.254298\" id=\"rect2991-0-9-0\" width=\"34.660416\" height=\"14.552083\" x=\"17.443602\" y=\"84.860855\" rx=\"1.8773369\" />\n    <rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"3.6723204\" ry=\"3.0821497\" y=\"90.395531\" x=\"18.373404\" height=\"7.9443727\" width=\"32.815208\" id=\"alarm-77-4-0\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:0.522293;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\" />\n    <text inkscape:label=\"\" style=\"font-size:5.42001px;font-family:Tahoma;text-align:end;text-anchor:end;fill:#00ffff;stroke-width:0.33875\" x=\"41.321472\" y=\"91.913193\" id=\"defect\" transform=\"scale(0.95087635,1.0516615)\">0</text>\n    <text inkscape:label=\"\" id=\"R802_PT_P19_unit-5-5\" y=\"87.471046\" x=\"45.332966\" style=\"font-weight:bold;font-size:4.34663px;font-family:Tahoma;fill:#ffffff;stroke-width:0.271664\" transform=\"scale(0.90719051,1.1023043)\">Pcs</text>\n    <text inkscape:label=\"\" id=\"tag-08-7-1\" y=\"88.778542\" x=\"19.124393\" style=\"font-size:3.94322px;font-family:Tahoma;fill:#ffffff;stroke-width:0.246451\">Defect</text>\n  </g>\n  <g id=\"pulley2\">\n    <path style=\"fill:#808080;fill-rule:evenodd;stroke-width:0.442167\" d=\"m 7244.4099,4496.7575 h 11.0544 l 11.0544,0.8844 11.0544,1.3264 11.0544,1.7687 10.6122,2.6529 10.17,3.0951 10.6123,3.5373 9.7278,3.9795 9.7279,4.4216 9.7278,4.8638 9.2857,5.3058 8.8435,5.7482 8.8435,6.1902 8.4014,6.6324 7.9591,6.6324 7.517,7.5167 7.517,7.5166 7.0748,7.9589 6.6327,8.4011 6.1904,8.8432 5.7482,8.8432 5.3061,9.2854 4.864,9.7275 4.4218,9.7275 3.9796,10.1696 3.5373,10.1698 3.0953,10.6117 2.2108,10.6119 2.2109,10.6119 1.3265,11.054 0.8844,11.4961 0.4421,11.054 -0.4421,11.4961 -0.8844,11.054 -1.3265,11.054 -2.2109,11.054 -2.2108,10.6119 -3.0953,10.6119 -3.5373,10.1696 -3.9796,10.1696 -4.4218,9.7275 -4.864,9.2854 -5.3061,9.2854 -5.7482,9.2853 -6.1904,8.4011 -6.6327,8.4011 -7.0748,7.9588 -7.517,7.9589 -7.517,7.0745 -7.9591,7.0746 -8.4014,6.6324 -8.8435,6.1903 -8.8435,5.748 -9.2857,5.306 -9.7278,4.8637 -9.7279,4.4215 -9.7278,3.9795 -10.6123,3.0951 -10.17,3.0952 -10.6122,2.653 -11.0544,1.7686 -11.0544,1.3264 -11.0544,0.8843 -11.0544,0.4422 -11.4965,-0.4422 -11.0544,-0.8843 -11.0544,-1.3264 -11.0543,-1.7686 -10.6123,-2.653 -10.6122,-3.0952 -10.17,-3.0951 -10.1701,-3.9795 -9.7278,-4.4215 -9.7279,-4.8637 -9.2856,-5.306 -8.8436,-5.748 -8.4013,-6.1903 -8.4014,-6.6324 -7.959,-7.0746 -7.9592,-7.0745 -7.0749,-7.9589 -7.0748,-7.9588 -6.6326,-8.4011 -6.1904,-8.4011 -5.7483,-9.2853 -5.3062,-9.2854 -4.8638,-9.2854 -4.4218,-9.7275 -3.9796,-10.1696 -3.0952,-10.1696 -3.0953,-10.6119 -2.653,-10.6119 -1.7687,-11.054 -1.3265,-11.054 -0.8844,-11.054 v -11.4961 -11.054 l 0.8844,-11.4961 1.3265,-11.054 1.7687,-10.6119 2.653,-10.6119 3.0953,-10.6117 3.0952,-10.1698 3.9796,-10.1696 4.4218,-9.7275 4.8638,-9.7275 5.3062,-9.2854 5.7483,-8.8432 6.1904,-8.8432 6.6326,-8.4011 7.0748,-7.9589 7.0749,-7.5166 7.9592,-7.5167 7.959,-6.6324 8.4014,-6.6324 8.4013,-6.1902 8.8436,-5.7482 9.2856,-5.3058 9.7279,-4.8638 9.7278,-4.4216 10.1701,-3.9795 10.17,-3.5373 10.6122,-3.0951 10.6123,-2.6529 11.0543,-1.7687 11.0544,-1.3264 11.0544,-0.8844 z m 1.7688,206.9308 h -2.6531 l -2.6531,0.8844 -2.2108,1.3265 -2.2109,1.7686 -1.7687,2.2107 -1.3265,2.2109 -0.8844,2.6529 v 2.653 2.653 l 0.8844,2.6529 1.3265,2.2108 1.7687,2.2108 2.2109,1.7686 2.2108,0.8844 2.6531,0.8842 2.6531,0.4423 2.653,-0.4423 2.653,-0.8842 2.211,-0.8844 2.2108,-1.7686 1.7687,-2.2108 0.8844,-2.2108 0.8843,-2.6529 0.4422,-2.653 -0.4422,-2.653 -0.8843,-2.6529 -0.8844,-2.2109 -1.7687,-2.2107 -2.2108,-1.7686 -2.211,-1.3265 -2.653,-0.8844 z m -41.5646,-16.3599 4.4218,-5.3059 5.3061,-4.8637 5.3062,-3.5374 5.7482,-3.0951 5.7483,-1.7686 6.1904,-1.7687 6.1905,-0.4421 h 6.1905 l 5.7482,0.4421 6.1905,1.3265 5.3061,1.7687 5.3061,2.653 4.864,2.653 3.9795,3.5372 3.5374,3.9794 2.6531,4.4216 129.5574,-81.3574 -3.0952,-4.8637 -3.5375,-4.8638 -3.5374,-4.8637 -3.5374,-4.8638 -3.9796,-4.8638 -3.9796,-4.4215 -4.4217,-4.4217 -4.4217,-4.4216 -4.864,-4.4216 -4.4217,-3.9794 -5.3062,-3.9795 -4.8638,-3.9794 -5.3062,-3.5372 -5.3061,-3.5374 -5.306,-3.5372 -5.7484,-3.0952 -5.7482,-3.0951 -5.7483,-3.0951 -5.7483,-2.6529 -6.1905,-2.653 -5.7482,-2.653 -6.1905,-2.2107 -6.1904,-1.7687 -6.1905,-1.7686 -6.6327,-1.7686 -6.1904,-1.3265 -6.6326,-1.3265 -6.6327,-1.3265 -6.1904,-0.4421 -6.6326,-0.8844 h -6.6327 l -6.6326,-0.4421 -6.6326,0.4421 h -6.6327 l -6.6326,0.8844 -6.6326,0.4421 -6.1905,1.3265 -6.6326,0.8842 -6.1904,1.3265 -6.1906,1.7687 -6.6326,1.7686 -5.7482,2.2109 -6.1905,1.7686 -6.1904,2.653 -5.7483,2.6529 -5.7483,2.653 -5.7483,2.653 -5.306,3.0951 -5.7484,3.0951 -5.3061,3.5373 -5.3061,3.5372 -4.8639,3.5373 -4.864,3.9795 -4.8638,3.9793 -4.864,3.9795 -4.4217,4.4217 -4.4218,4.4215 -4.4218,4.4216 -3.9796,4.8637 -3.9795,4.8638 -3.5374,4.8637 -3.9796,4.8638 -3.0952,4.8637 -3.5374,5.306 z m 90.646,16.3599 1.3266,5.7481 0.4422,5.7481 v 5.3059 l -0.4422,5.3059 -0.8844,5.306 -1.3266,4.8637 -1.7686,4.8638 -2.2109,4.4216 -3.0952,3.9794 -3.5374,3.9795 -3.5374,3.5372 -4.4218,3.0952 -4.4218,2.6528 -5.306,2.2109 -5.3062,2.2108 -6.1904,1.3265 v 150.3343 l 6.1904,-0.4421 5.7483,-0.4422 6.1905,-0.4422 5.7482,-0.8843 6.1905,-1.3264 5.7483,-0.8844 6.1905,-1.7686 5.7482,-1.3265 6.1905,-1.7686 5.7482,-2.2108 6.1906,-2.2108 5.7482,-2.2108 5.7483,-2.653 5.7482,-2.653 5.7484,-2.6529 5.306,-3.0951 5.7483,-3.0951 5.3061,-3.5373 5.3061,-3.5373 5.3062,-3.9794 5.306,-3.5373 4.864,-4.4216 4.8639,-3.9795 4.864,-4.4215 4.8638,-4.4216 4.4218,-4.8638 4.4218,-4.8637 3.9796,-5.306 3.9795,-4.8638 3.9796,-5.3059 3.5374,-5.7481 3.5374,-5.748 3.5374,-5.7481 3.0952,-6.1903 2.6531,-6.1902 2.6531,-5.748 2.2108,-6.1903 2.2109,-6.6323 2.2109,-6.1903 1.7687,-6.1902 1.3266,-6.1903 1.7686,-6.6324 0.8844,-6.1902 0.8844,-6.1903 0.8842,-6.6323 0.4422,-6.1903 0.4422,-6.1902 v -6.6324 -6.1903 l -0.4422,-6.1902 -0.4422,-6.1903 -0.4422,-6.1902 -0.8842,-6.1903 -0.8844,-6.1902 -1.3266,-6.1903 -1.3264,-5.748 -1.7688,-6.1902 -1.7686,-5.7481 -1.7688,-6.1903 -2.2108,-5.748 -2.2109,-5.306 -2.6531,-5.748 -2.653,-5.7481 -2.6531,-5.3059 z m -59.2515,64.5554 -5.3061,-1.7687 -4.8639,-2.2107 -4.864,-2.653 -4.4217,-2.653 -3.9796,-3.5373 -3.9796,-3.5372 -3.5374,-3.9795 -2.653,-3.9794 -2.653,-4.4216 -2.211,-4.8638 -1.7686,-4.8637 -0.8844,-4.8638 -0.4422,-5.306 v -5.3058 l 0.8844,-5.3059 1.7686,-5.306 -132.2103,-83.126 -2.6531,5.3059 -2.6531,5.306 -2.653,5.748 -2.2109,5.306 -2.2109,5.748 -1.7687,6.1902 -1.7687,5.7481 -1.7687,6.1903 -1.3266,5.748 -0.8842,6.1902 -1.3266,6.1903 -0.4422,6.1902 -0.8844,6.6324 -0.4421,6.1903 v 6.6323 6.1903 6.1902 l 0.4421,6.6324 0.4422,6.6324 0.8844,6.1902 0.8844,6.6325 1.3264,6.1902 1.3266,6.6325 1.7687,6.1902 1.7687,6.6324 1.7687,6.1902 2.2109,6.1902 2.653,6.1902 2.6531,6.1903 2.653,5.7481 3.0952,6.1902 3.5374,5.7481 3.0954,5.7481 3.9795,5.7481 3.5374,5.3059 3.9796,5.3059 3.9796,5.3059 4.4217,4.8638 3.9795,4.8637 4.864,4.8638 4.4218,4.4216 4.8639,4.4215 4.864,3.9795 4.8638,3.9794 5.3062,3.9795 4.8639,3.5373 5.3061,3.5372 5.7483,3.5374 5.306,3.0951 5.7484,3.0951 5.3061,2.6529 5.7482,2.653 5.7484,2.653 6.1904,2.2107 5.7483,2.2108 5.7482,1.7686 6.1905,1.7688 6.1905,1.3264 5.7482,1.3265 6.1905,1.3264 6.1904,0.8844 6.1905,0.8843 6.1905,0.4422 6.1904,0.4421 z\" id=\"path3544\" />\n    <ellipse style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884335\" cx=\"7244.4097\" cy=\"4717.395\" id=\"circle3546\" rx=\"220.64552\" ry=\"220.63777\" />\n    <ellipse style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884335\" cx=\"7246.1787\" cy=\"4717.395\" id=\"circle3548\" rx=\"13.707438\" ry=\"13.706955\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884335\" d=\"m 7204.6141,4687.3284 4.4218,-5.3059 5.3061,-4.8637 5.3062,-3.5374 5.7482,-3.0951 5.7483,-1.7686 6.1904,-1.7687 6.1905,-0.4421 h 6.1905 l 5.7482,0.4421 6.1905,1.3265 5.3061,1.7687 5.3061,2.653 4.864,2.653 3.9795,3.5372 3.5374,3.9794 2.6531,4.4216 129.5574,-81.3574 -3.0952,-4.8637 -3.5375,-4.8638 -3.5374,-4.8637 -3.5374,-4.8638 -3.9796,-4.8638 -3.9796,-4.4215 -4.4217,-4.4217 -4.4217,-4.4216 -4.864,-4.4216 -4.4217,-3.9794 -5.3062,-3.9795 -4.8638,-3.9794 -5.3062,-3.5372 -5.3061,-3.5374 -5.306,-3.5372 -5.7484,-3.0952 -5.7482,-3.0951 -5.7483,-3.0951 -5.7483,-2.6529 -6.1905,-2.653 -5.7482,-2.653 -6.1905,-2.2107 -6.1904,-1.7687 -6.1905,-1.7686 -6.6327,-1.7686 -6.1904,-1.3265 -6.6326,-1.3265 -6.6327,-1.3265 -6.1904,-0.4421 -6.6326,-0.8844 h -6.6327 l -6.6326,-0.4421 -6.6326,0.4421 h -6.6327 l -6.6326,0.8844 -6.6326,0.4421 -6.1905,1.3265 -6.6326,0.8842 -6.1904,1.3265 -6.1906,1.7687 -6.6326,1.7686 -5.7482,2.2109 -6.1905,1.7686 -6.1904,2.653 -5.7483,2.6529 -5.7483,2.653 -5.7483,2.653 -5.306,3.0951 -5.7484,3.0951 -5.3061,3.5373 -5.3061,3.5372 -4.8639,3.5373 -4.864,3.9795 -4.8638,3.9793 -4.864,3.9795 -4.4217,4.4217 -4.4218,4.4215 -4.4218,4.4216 -3.9796,4.8637 -3.9795,4.8638 -3.5374,4.8637 -3.9796,4.8638 -3.0952,4.8637 -3.5374,5.306 129.5573,81.3574\" id=\"path3550\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884335\" d=\"m 7295.2601,4703.6883 1.3266,5.7481 0.4422,5.7481 v 5.3059 l -0.4422,5.3059 -0.8844,5.306 -1.3266,4.8637 -1.7686,4.8638 -2.2109,4.4216 -3.0952,3.9794 -3.5374,3.9795 -3.5374,3.5372 -4.4218,3.0952 -4.4218,2.6528 -5.306,2.2109 -5.3062,2.2108 -6.1904,1.3265 v 150.3343 l 6.1904,-0.4421 5.7483,-0.4422 6.1905,-0.4422 5.7482,-0.8843 6.1905,-1.3264 5.7483,-0.8844 6.1905,-1.7686 5.7482,-1.3265 6.1905,-1.7686 5.7482,-2.2108 6.1906,-2.2108 5.7482,-2.2108 5.7483,-2.653 5.7482,-2.653 5.7484,-2.6529 5.306,-3.0951 5.7483,-3.0951 5.3061,-3.5373 5.3061,-3.5373 5.3062,-3.9794 5.306,-3.5373 4.864,-4.4216 4.8639,-3.9795 4.864,-4.4215 4.8638,-4.4216 4.4218,-4.8638 4.4218,-4.8637 3.9796,-5.306 3.9795,-4.8638 3.9796,-5.3059 3.5374,-5.7481 3.5374,-5.748 3.5374,-5.7481 3.0952,-6.1903 2.6531,-6.1902 2.6531,-5.748 2.2108,-6.1903 2.2109,-6.6323 2.2109,-6.1903 1.7687,-6.1902 1.3266,-6.1903 1.7686,-6.6324 0.8844,-6.1902 0.8844,-6.1903 0.8842,-6.6323 0.4422,-6.1903 0.4422,-6.1902 v -6.6324 -6.1903 l -0.4422,-6.1902 -0.4422,-6.1903 -0.4422,-6.1902 -0.8842,-6.1903 -0.8844,-6.1902 -1.3266,-6.1903 -1.3264,-5.748 -1.7688,-6.1902 -1.7686,-5.7481 -1.7688,-6.1903 -2.2108,-5.748 -2.2109,-5.306 -2.6531,-5.748 -2.653,-5.7481 -2.6531,-5.3059 -131.3261,78.7044\" id=\"path3552\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884335\" d=\"m 7236.0086,4768.2437 -5.3061,-1.7687 -4.8639,-2.2107 -4.864,-2.653 -4.4217,-2.653 -3.9796,-3.5373 -3.9796,-3.5372 -3.5374,-3.9795 -2.653,-3.9794 -2.653,-4.4216 -2.211,-4.8638 -1.7686,-4.8637 -0.8844,-4.8638 -0.4422,-5.306 v -5.3058 l 0.8844,-5.3059 1.7686,-5.306 -132.2103,-83.126 -2.6531,5.3059 -2.6531,5.306 -2.653,5.748 -2.2109,5.306 -2.2109,5.748 -1.7687,6.1902 -1.7687,5.7481 -1.7687,6.1903 -1.3266,5.748 -0.8842,6.1902 -1.3266,6.1903 -0.4422,6.1902 -0.8844,6.6324 -0.4421,6.1903 v 6.6323 6.1903 6.1902 l 0.4421,6.6324 0.4422,6.6324 0.8844,6.1902 0.8844,6.6325 1.3264,6.1902 1.3266,6.6325 1.7687,6.1902 1.7687,6.6324 1.7687,6.1902 2.2109,6.1902 2.653,6.1902 2.6531,6.1903 2.653,5.7481 3.0952,6.1902 3.5374,5.7481 3.0954,5.7481 3.9795,5.7481 3.5374,5.3059 3.9796,5.3059 3.9796,5.3059 4.4217,4.8638 3.9795,4.8637 4.864,4.8638 4.4218,4.4216 4.8639,4.4215 4.864,3.9795 4.8638,3.9794 5.3062,3.9795 4.8639,3.5373 5.3061,3.5372 5.7483,3.5374 5.306,3.0951 5.7484,3.0951 5.3061,2.6529 5.7482,2.653 5.7484,2.653 6.1904,2.2107 5.7483,2.2108 5.7482,1.7686 6.1905,1.7688 6.1905,1.3264 5.7482,1.3265 6.1905,1.3264 6.1904,0.8844 6.1905,0.8843 6.1905,0.4422 6.1904,0.4421 v -150.3343\" id=\"path3554\" />\n  </g>\n  <g id=\"pulley1\">\n    <path style=\"fill:#808080;fill-rule:evenodd;stroke-width:0.442167\" d=\"m 4041.2535,4501.0641 h 11.0548 l 11.0549,0.8843 11.0548,1.3264 11.0548,1.7686 10.6127,2.6528 10.1704,3.095 10.6127,3.5371 9.7282,3.9793 9.7283,4.4215 9.7282,4.8635 9.286,5.3057 8.844,5.7478 8.8438,6.19 8.4017,6.6321 7.9594,6.6321 7.5173,7.5164 7.5173,7.5163 7.0752,7.9586 6.6328,8.4007 6.1907,8.8428 5.7485,8.8428 5.3063,9.285 4.8642,9.7271 4.4219,9.7271 3.9798,10.1692 3.5374,10.1693 3.0955,10.6113 2.2109,10.6114 2.211,10.6114 1.3266,11.0535 0.8844,11.4957 0.4421,11.0535 -0.4421,11.4956 -0.8844,11.0536 -1.3266,11.0535 -2.211,11.0535 -2.2109,10.6114 -3.0955,10.6114 -3.5374,10.1692 -3.9798,10.1692 -4.4219,9.7271 -4.8642,9.285 -5.3063,9.285 -5.7485,9.2849 -6.1907,8.4007 -6.6328,8.4007 -7.0752,7.9586 -7.5173,7.9585 -7.5173,7.0742 -7.9594,7.0743 -8.4017,6.6321 -8.8438,6.19 -8.844,5.7478 -9.286,5.3057 -9.7282,4.8636 -9.7283,4.4213 -9.7282,3.9793 -10.6127,3.095 -10.1704,3.095 -10.6127,2.6529 -11.0548,1.7685 -11.0548,1.3264 -11.0549,0.8843 -11.0548,0.4421 -11.497,-0.4421 -11.0549,-0.8843 -11.0548,-1.3264 -11.0548,-1.7685 -10.6126,-2.6529 -10.6127,-3.095 -10.1704,-3.095 -10.1705,-3.9793 -9.7282,-4.4213 -9.7283,-4.8636 -9.286,-5.3057 -8.8439,-5.7478 -8.4016,-6.19 -8.4018,-6.6321 -7.9594,-7.0743 -7.9595,-7.0742 -7.0751,-7.9585 -7.0751,-7.9586 -6.6329,-8.4007 -6.1907,-8.4007 -5.7485,-9.2849 -5.3064,-9.285 -4.864,-9.285 -4.422,-9.7271 -3.9798,-10.1692 -3.0953,-10.1692 -3.0953,-10.6114 -2.6532,-10.6114 -1.7688,-11.0535 -1.3265,-11.0535 -0.8844,-11.0536 v -11.4956 -11.0535 l 0.8844,-11.4957 1.3265,-11.0535 1.7688,-10.6114 2.6532,-10.6114 3.0953,-10.6113 3.0953,-10.1693 3.9798,-10.1692 4.422,-9.7271 4.864,-9.7271 5.3064,-9.285 5.7485,-8.8428 6.1907,-8.8428 6.6329,-8.4007 7.0751,-7.9586 7.0751,-7.5163 7.9595,-7.5164 7.9594,-6.6321 8.4018,-6.6321 8.4016,-6.19 8.8439,-5.7478 9.286,-5.3057 9.7283,-4.8635 9.7282,-4.4215 10.1705,-3.9793 10.1704,-3.5371 10.6127,-3.095 10.6126,-2.6528 11.0548,-1.7686 11.0548,-1.3264 11.0549,-0.8843 z m 1.7688,206.9219 h -2.6531 l -2.6533,0.8843 -2.2109,1.3265 -2.2109,1.7685 -1.7689,2.2107 -1.3265,2.2107 -0.8844,2.6528 v 2.6529 2.6529 l 0.8844,2.6528 1.3265,2.2107 1.7689,2.2107 2.2109,1.7685 2.2109,0.8844 2.6533,0.8842 2.6531,0.4422 2.6531,-0.4422 2.6532,-0.8842 2.211,-0.8844 2.2109,-1.7685 1.7688,-2.2107 0.8844,-2.2107 0.8844,-2.6528 0.4422,-2.6529 -0.4422,-2.6529 -0.8844,-2.6528 -0.8844,-2.2107 -1.7688,-2.2107 -2.2109,-1.7685 -2.211,-1.3265 -2.6532,-0.8843 z m -41.5662,-16.3592 4.422,-5.3056 5.3062,-4.8636 5.3064,-3.5372 5.7485,-3.095 5.7485,-1.7685 6.1907,-1.7686 6.1908,-0.4421 h 6.1907 l 5.7484,0.4421 6.1907,1.3265 5.3064,1.7685 5.3063,2.6529 4.8642,2.6529 3.9796,3.5371 3.5376,3.9792 2.6532,4.4214 129.5626,-81.3539 -3.0954,-4.8635 -3.5375,-4.8636 -3.5376,-4.8635 -3.5375,-4.8635 -3.9798,-4.8637 -3.9797,-4.4213 -4.4219,-4.4214 -4.422,-4.4215 -4.8641,-4.4214 -4.4219,-3.9792 -5.3064,-3.9793 -4.864,-3.9793 -5.3064,-3.5371 -5.3063,-3.5372 -5.3063,-3.5371 -5.7486,-3.095 -5.7484,-3.095 -5.7485,-3.0949 -5.7486,-2.6528 -6.1907,-2.6529 -5.7485,-2.6529 -6.1907,-2.2106 -6.1907,-1.7686 -6.1908,-1.7685 -6.6328,-1.7686 -6.1907,-1.3264 -6.6329,-1.3265 -6.6329,-1.3264 -6.1907,-0.4421 -6.6329,-0.8844 h -6.6329 l -6.6329,-0.4421 -6.6329,0.4421 h -6.6329 l -6.6329,0.8844 -6.6329,0.4421 -6.1907,1.3264 -6.6329,0.8842 -6.1907,1.3265 -6.1908,1.7685 -6.6329,1.7686 -5.7484,2.2108 -6.1907,1.7685 -6.1907,2.6529 -5.7485,2.6528 -5.7486,2.6528 -5.7485,2.6529 -5.3063,3.095 -5.7485,3.095 -5.3063,3.5371 -5.3064,3.5371 -4.8641,3.5371 -4.8641,3.9793 -4.8641,3.9792 -4.8642,3.9794 -4.4218,4.4214 -4.422,4.4213 -4.422,4.4215 -3.9797,4.8635 -3.9797,4.8635 -3.5375,4.8636 -3.9798,4.8635 -3.0953,4.8636 -3.5376,5.3057 z m 90.6496,16.3592 1.3266,5.7479 0.4422,5.7478 v 5.3057 l -0.4422,5.3056 -0.8844,5.3058 -1.3266,4.8636 -1.7687,4.8635 -2.211,4.4214 -3.0953,3.9792 -3.5376,3.9794 -3.5375,3.5371 -4.422,3.095 -4.4219,2.6527 -5.3063,2.2108 -5.3064,2.2107 -6.1907,1.3264 v 150.3279 l 6.1907,-0.4421 5.7486,-0.4422 6.1907,-0.4421 5.7485,-0.8843 6.1907,-1.3264 5.7485,-0.8843 6.1907,-1.7686 5.7485,-1.3264 6.1907,-1.7686 5.7485,-2.2106 6.1908,-2.2108 5.7485,-2.2106 5.7484,-2.6529 5.7485,-2.6529 5.7486,-2.6528 5.3063,-3.095 5.7485,-3.095 5.3064,-3.5371 5.3062,-3.5372 5.3064,-3.9792 5.3063,-3.5371 4.8642,-4.4214 4.864,-3.9793 4.8642,-4.4214 4.8641,-4.4214 4.4219,-4.8635 4.422,-4.8636 3.9798,-5.3057 3.9796,-4.8636 3.9798,-5.3056 3.5375,-5.7479 3.5376,-5.7478 3.5375,-5.7479 3.0954,-6.1899 2.6531,-6.19 2.6532,-5.7478 2.211,-6.19 2.2109,-6.6321 2.211,-6.1899 1.7688,-6.19 1.3266,-6.19 1.7687,-6.6321 0.8844,-6.19 0.8844,-6.19 0.8844,-6.6321 0.4422,-6.1899 0.4422,-6.19 v -6.6321 -6.19 l -0.4422,-6.19 -0.4422,-6.19 -0.4423,-6.1899 -0.8843,-6.19 -0.8844,-6.19 -1.3266,-6.19 -1.3265,-5.7478 -1.7688,-6.1899 -1.7688,-5.7479 -1.7688,-6.19 -2.2109,-5.7478 -2.211,-5.3057 -2.6532,-5.7478 -2.6531,-5.7479 -2.6532,-5.3056 z m -59.2538,64.5526 -5.3064,-1.7686 -4.8641,-2.2106 -4.8642,-2.6529 -4.4218,-2.6529 -3.9798,-3.5371 -3.9797,-3.5371 -3.5376,-3.9793 -2.6531,-3.9792 -2.6532,-4.4214 -2.211,-4.8636 -1.7687,-4.8635 -0.8844,-4.8636 -0.4423,-5.3057 v -5.3057 l 0.8845,-5.3056 1.7687,-5.3058 -132.2157,-83.1224 -2.6532,5.3056 -2.6532,5.3058 -2.6532,5.7477 -2.2109,5.3058 -2.211,5.7478 -1.7687,6.1899 -1.7689,5.7479 -1.7687,6.19 -1.3266,5.7478 -0.8843,6.1899 -1.3266,6.19 -0.4423,6.19 -0.8844,6.6321 -0.4421,6.19 v 6.6321 6.19 6.1899 l 0.4421,6.6321 0.4422,6.6321 0.8845,6.19 0.8844,6.6322 1.3265,6.1899 1.3266,6.6322 1.7687,6.19 1.7689,6.6321 1.7687,6.19 2.211,6.1898 2.6532,6.19 2.6531,6.19 2.6531,5.7479 3.0954,6.1899 3.5375,5.7478 3.0955,5.7479 3.9796,5.7479 3.5376,5.3056 3.9797,5.3057 3.9798,5.3057 4.422,4.8636 3.9796,4.8635 4.8642,4.8636 4.422,4.4214 4.864,4.4213 4.8642,3.9793 4.8641,3.9792 5.3063,3.9794 4.8641,3.5371 5.3064,3.5371 5.7485,3.5372 5.3063,3.095 5.7485,3.095 5.3063,2.6527 5.7485,2.6529 5.7486,2.6529 6.1907,2.2107 5.7485,2.2106 5.7484,1.7686 6.1908,1.7686 6.1907,1.3264 5.7485,1.3264 6.1907,1.3264 6.1907,0.8844 6.1907,0.8842 6.1908,0.4422 6.1907,0.4421 z\" id=\"path3544-0\" />\n    <ellipse style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884334\" cx=\"4041.2534\" cy=\"4721.6924\" id=\"circle3546-3\" rx=\"220.65443\" ry=\"220.6283\" />\n    <ellipse style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884334\" cx=\"4043.0225\" cy=\"4721.6924\" id=\"circle3548-5\" rx=\"13.707992\" ry=\"13.706367\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884334\" d=\"m4001.4561,4691.6268m4.422,-5.3056m5.3062,-4.8636m5.3064,-3.5372m5.7485,-3.095m5.7485,-1.7685m6.1907,-1.7686m6.1908,-0.4421h6.1907l5.7484,0.4421l6.1907,1.3265l5.3064,1.7685l5.3063,2.6529l4.8642,2.6529l3.9796,3.5371l3.5376,3.9792l2.6532,4.4214l129.5626,-81.3539l-3.0954,-4.8635l-3.5375,-4.8636l-3.5376,-4.8635l-3.5375,-4.8635l-3.9798,-4.8637l-3.9797,-4.4213l-4.4219,-4.4214l-4.422,-4.4215l-4.8641,-4.4214l-4.4219,-3.9792l-5.3064,-3.9793l-4.864,-3.9793l-5.3064,-3.5371l-5.3063,-3.5372l-5.3063,-3.5371l-5.7486,-3.095l-5.7484,-3.095l-5.7485,-3.0949l-5.7486,-2.6528l-6.1907,-2.6529l-5.7485,-2.6529l-6.1907,-2.2106l-6.1907,-1.7686l-6.1908,-1.7685l-6.6328,-1.7686l-6.1907,-1.3264l-6.6329,-1.3265l-6.6329,-1.3264l-6.1907,-0.4421l-6.6329,-0.8844h-6.6329l-6.6329,-0.4421l-6.6329,0.4421h-6.6329l-6.6329,0.8844l-6.6329,0.4421l-6.1907,1.3264l-6.6329,0.8842l-6.1907,1.3265l-6.1908,1.7685l-6.6329,1.7686l-5.7484,2.2108l-6.1907,1.7685l-6.1907,2.6529l-5.7485,2.6528l-5.7486,2.6528l-5.7485,2.6529l-5.3063,3.095l-5.7485,3.095l-5.3063,3.5371l-5.3064,3.5371l-4.8641,3.5371l-4.8641,3.9793l-4.8641,3.9792l-4.8642,3.9794l-4.4218,4.4214l-4.422,4.4213l-4.422,4.4215l-3.9797,4.8635l-3.9797,4.8635l-3.5375,4.8636l-3.9798,4.8635l-3.0953,4.8636l-3.5376,5.3057l129.5626,81.3539\" id=\"path3550-4\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884334\" d=\"m 4092.1057,4707.986 1.3266,5.7479 0.4422,5.7478 v 5.3057 l -0.4422,5.3056 -0.8844,5.3058 -1.3266,4.8636 -1.7687,4.8635 -2.211,4.4214 -3.0953,3.9792 -3.5376,3.9794 -3.5375,3.5371 -4.422,3.095 -4.4219,2.6527 -5.3063,2.2108 -5.3064,2.2107 -6.1907,1.3264 v 150.3279 l 6.1907,-0.4421 5.7486,-0.4422 6.1907,-0.4421 5.7485,-0.8843 6.1907,-1.3264 5.7485,-0.8843 6.1907,-1.7686 5.7485,-1.3264 6.1907,-1.7686 5.7485,-2.2106 6.1908,-2.2108 5.7485,-2.2106 5.7484,-2.6529 5.7485,-2.6529 5.7486,-2.6528 5.3063,-3.095 5.7485,-3.095 5.3064,-3.5371 5.3062,-3.5372 5.3064,-3.9792 5.3063,-3.5371 4.8642,-4.4214 4.864,-3.9793 4.8642,-4.4214 4.8641,-4.4214 4.4219,-4.8635 4.422,-4.8636 3.9798,-5.3057 3.9796,-4.8636 3.9798,-5.3056 3.5375,-5.7479 3.5376,-5.7478 3.5375,-5.7479 3.0954,-6.1899 2.6531,-6.19 2.6532,-5.7478 2.211,-6.19 2.2109,-6.6321 2.211,-6.1899 1.7688,-6.19 1.3266,-6.19 1.7687,-6.6321 0.8844,-6.19 0.8844,-6.19 0.8844,-6.6321 0.4422,-6.1899 0.4422,-6.19 v -6.6321 -6.19 l -0.4422,-6.19 -0.4422,-6.19 -0.4423,-6.1899 -0.8843,-6.19 -0.8844,-6.19 -1.3266,-6.19 -1.3265,-5.7478 -1.7688,-6.1899 -1.7688,-5.7479 -1.7688,-6.19 -2.2109,-5.7478 -2.211,-5.3057 -2.6532,-5.7478 -2.6531,-5.7479 -2.6532,-5.3056 -131.3314,78.701\" id=\"path3552-2\" />\n    <path style=\"fill:none;stroke:#4c4c4c;stroke-width:0.884334\" d=\"m 4032.8519,4772.5386 -5.3064,-1.7686 -4.8641,-2.2106 -4.8642,-2.6529 -4.4218,-2.6529 -3.9798,-3.5371 -3.9797,-3.5371 -3.5376,-3.9793 -2.6531,-3.9792 -2.6532,-4.4214 -2.211,-4.8636 -1.7687,-4.8635 -0.8844,-4.8636 -0.4423,-5.3057 v -5.3057 l 0.8845,-5.3056 1.7687,-5.3058 -132.2157,-83.1224 -2.6532,5.3056 -2.6532,5.3058 -2.6532,5.7477 -2.2109,5.3058 -2.211,5.7478 -1.7687,6.1899 -1.7689,5.7479 -1.7687,6.19 -1.3266,5.7478 -0.8843,6.1899 -1.3266,6.19 -0.4423,6.19 -0.8844,6.6321 -0.4421,6.19 v 6.6321 6.19 6.1899 l 0.4421,6.6321 0.4422,6.6321 0.8845,6.19 0.8844,6.6322 1.3265,6.1899 1.3266,6.6322 1.7687,6.19 1.7689,6.6321 1.7687,6.19 2.211,6.1898 2.6532,6.19 2.6531,6.19 2.6531,5.7479 3.0954,6.1899 3.5375,5.7478 3.0955,5.7479 3.9796,5.7479 3.5376,5.3056 3.9797,5.3057 3.9798,5.3057 4.422,4.8636 3.9796,4.8635 4.8642,4.8636 4.422,4.4214 4.864,4.4213 4.8642,3.9793 4.8641,3.9792 5.3063,3.9794 4.8641,3.5371 5.3064,3.5371 5.7485,3.5372 5.3063,3.095 5.7485,3.095 5.3063,2.6527 5.7485,2.6529 5.7486,2.6529 6.1907,2.2107 5.7485,2.2106 5.7484,1.7686 6.1908,1.7686 6.1907,1.3264 5.7485,1.3264 6.1907,1.3264 6.1907,0.8844 6.1907,0.8842 6.1908,0.4422 6.1907,0.4421 v -150.3279\" id=\"path3554-3\" />\n  </g>\n  <g id=\"fg2\" transform=\"matrix(1 0 0 1 0 -350.48)\">\n    <g id=\"e17_group\">\n      <path fill=\"url(#SVGID_1_)\" d=\"m4216.3852,4381.3625v-315.1357l142.3251,-100.2114V3751.718h300.6898v214.2918l143.0251,100.2114v315.1413h-586.04\" id=\"e22_path\" style=\"fill:url(#SVGID_1_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_2_)\" d=\"M4358.7103,3966.0154V3751.718h300.6898v214.2918\" id=\"e23_path\" style=\"fill:url(#SVGID_2_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_3_)\" d=\"m4216.3852,4066.2268m142.3251,-100.2114h300.6898l143.0251,100.2114\" id=\"e24_path\" style=\"fill:url(#SVGID_3_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_1_)\" d=\"m4216.3852,4381.3625v-315.1357l142.3251,-100.2114V3751.718h300.6898v214.2918l143.0251,100.2114v315.1413h-586.04\" id=\"e25_path\" style=\"fill:url(#SVGID_1_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_2_)\" d=\"M4358.7103,3966.0154V3751.718h300.6898v214.2918\" id=\"e26_path\" style=\"fill:url(#SVGID_2_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_3_)\" d=\"m4216.3852,4066.2268m142.3251,-100.2114h300.6898l143.0251,100.2114\" id=\"e27_path\" style=\"fill:url(#SVGID_3_);stroke-width:5.88848\" />\n    </g>\n    <g id=\"e27_group\">\n      <path fill=\"url(#SVGID_1_)\" d=\"m4216.3852,4381.3625v-315.1357l142.3251,-100.2114V3751.718h300.6898v214.2918l143.0251,100.2114v315.1413h-586.04\" id=\"e28_path\" style=\"fill:url(#SVGID_1_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_2_)\" d=\"M4358.7103,3966.0154V3751.718h300.6898v214.2918\" id=\"e29_path\" style=\"fill:url(#SVGID_2_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_3_)\" d=\"m4216.3852,4066.2268m142.3251,-100.2114h300.6898l143.0251,100.2114\" id=\"e30_path\" style=\"fill:url(#SVGID_3_);stroke-width:5.88848\" />\n    </g>\n  </g>\n  <g id=\"fg\" transform=\"matrix(1 0 0 1 0 -350.48)\">\n    <g id=\"e1_group\">\n      <path fill=\"url(#SVGID_1_)\" d=\"m4216.3852,4381.3625v-315.1357l142.3251,-100.2114V3751.718h300.6898v214.2918l143.0251,100.2114v315.1413h-586.04\" id=\"path344\" style=\"fill:url(#SVGID_1_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_2_)\" d=\"M4358.7103,3966.0154V3751.718h300.6898v214.2918\" id=\"path359\" style=\"fill:url(#SVGID_2_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_3_)\" d=\"m4216.3852,4066.2268m142.3251,-100.2114h300.6898l143.0251,100.2114\" id=\"path372\" style=\"fill:url(#SVGID_3_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_1_)\" d=\"m4216.3852,4381.3625v-315.1357l142.3251,-100.2114V3751.718h300.6898v214.2918l143.0251,100.2114v315.1413h-586.04\" id=\"e19_path\" style=\"fill:url(#SVGID_1_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_2_)\" d=\"M4358.7103,3966.0154V3751.718h300.6898v214.2918\" id=\"e20_path\" style=\"fill:url(#SVGID_2_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_3_)\" d=\"m4216.3852,4066.2268m142.3251,-100.2114h300.6898l143.0251,100.2114\" id=\"e21_path\" style=\"fill:url(#SVGID_3_);stroke-width:5.88848\" />\n    </g>\n    <g id=\"e16_group\">\n      <path fill=\"url(#SVGID_1_)\" d=\"m4216.3852,4381.3625v-315.1357l142.3251,-100.2114V3751.718h300.6898v214.2918l143.0251,100.2114v315.1413h-586.04\" id=\"e16_path\" style=\"fill:url(#SVGID_1_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_2_)\" d=\"M4358.7103,3966.0154V3751.718h300.6898v214.2918\" id=\"e17_path\" style=\"fill:url(#SVGID_2_);stroke-width:5.88848\" />\n      <path fill=\"url(#SVGID_3_)\" d=\"m4216.3852,4066.2268m142.3251,-100.2114h300.6898l143.0251,100.2114\" id=\"e18_path\" style=\"fill:url(#SVGID_3_);stroke-width:5.88848\" />\n    </g>\n  </g>\n</svg>","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[{"id":"rotate_pulley2","targetId":"pulley1","classValue":"","attributeName":"transform","transformType":"rotate","fromValue":"0,4033,4717","toValue":"360,4033,4717","trigger":"msg","duration":"3","durationUnit":"s","repeatCount":"0","end":"freeze","delay":"5","delayUnit":"s","custom":""},{"id":"rotate_pulley2","targetId":"pulley2","classValue":"","attributeName":"transform","transformType":"rotate","fromValue":"0,7240,4717","toValue":"360,7240,4717","trigger":"msg","duration":"3","durationUnit":"s","repeatCount":"0","end":"freeze","delay":"5","delayUnit":"s","custom":""},{"id":"move_fg","targetId":"fg","classValue":"","attributeName":"transform","transformType":"translate","fromValue":"18,15","toValue":"2350,15","trigger":"msg","duration":"7","durationUnit":"s","repeatCount":"1","end":"restore","delay":"1","delayUnit":"s","custom":""}],"bindings":[],"showCoordinates":true,"autoFormatAfterEdit":true,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"http://127.0.0.1:1880/drawsvg_local/edrawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"","x":580,"y":600,"wires":[[]]},{"id":"5d5d5ffc.59e41","type":"ui_button","z":"ad59bc01.bdef5","name":"","group":"db985a1.6b4e2a8","order":2,"width":"6","height":"1","passthru":false,"label":"Stop Gears","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"[{\"command\":\"trigger_animation\",\"selector\":\"#rotate_gearA\",\"action\":\"stop\"},{\"command\":\"trigger_animation\",\"selector\":\"#rotate_gearB\",\"action\":\"stop\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":420,"wires":[["cfcb01a3.1bd47"]]},{"id":"732aed2b.db0e04","type":"ui_button","z":"ad59bc01.bdef5","name":"","group":"db985a1.6b4e2a8","order":1,"width":"6","height":"1","passthru":false,"label":"Start Gears","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"command\":\"trigger_animation\",\"selector\":\"#rotate_gearA\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#rotate_gearB\",\"action\":\"start\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":380,"wires":[["cfcb01a3.1bd47"]]},{"id":"a0240b60.aa7308","type":"drawsvg-local","z":"ad59bc01.bdef5","name":"","x":420,"y":40,"wires":[[]]},{"id":"3e0dc5e0.0eb2fa","type":"ui_button","z":"ad59bc01.bdef5","name":"","group":"db985a1.6b4e2a8","order":3,"width":"6","height":"1","passthru":false,"label":"Start Conveyor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[{\"command\":\"trigger_animation\",\"selector\":\"#rotate_pulley1\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#rotate_pulley2\",\"action\":\"start\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":600,"wires":[["4d7fad8e.e1be54"]]},{"id":"4ea1a9b2.6075a8","type":"ui_button","z":"ad59bc01.bdef5","name":"","group":"db985a1.6b4e2a8","order":3,"width":"6","height":"1","passthru":false,"label":"Stop Conveyor","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"[{\"command\":\"trigger_animation\",\"selector\":\"#rotate_pulley1\",\"action\":\"stop\"},{\"command\":\"trigger_animation\",\"selector\":\"#rotate_pulley2\",\"action\":\"stop\"}]","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":640,"wires":[["4d7fad8e.e1be54"]]},{"id":"7245c799.9d8848","type":"ui_button","z":"ad59bc01.bdef5","name":"","group":"db985a1.6b4e2a8","order":3,"width":"6","height":"1","passthru":false,"label":"Start Output","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"trigger_animation\",\"selector\":\"#move_fg\",\"action\":\"start\"}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":700,"wires":[["4d7fad8e.e1be54","22e46c55.11d844"]]},{"id":"c9b8c772.c112f8","type":"inject","z":"ad59bc01.bdef5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":110,"y":540,"wires":[["15868381.6942fc"]]},{"id":"15868381.6942fc","type":"change","z":"ad59bc01.bdef5","name":"","rules":[{"t":"set","p":"output","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":540,"wires":[[]]},{"id":"22e46c55.11d844","type":"function","z":"ad59bc01.bdef5","name":"","func":"//add variable time\nvar total = global.get('output') + 1;\nglobal.set('output',total);\n\nmsg.payload =  \n    {\n        \"command\": \"update_text\",\n        \"selector\": \"#output\",\n        \"textContent\": total\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":740,"wires":[["4d7fad8e.e1be54"]]},{"id":"23b16fbe.b0541","type":"ui_group","name":"Gear - Rotate Animation","tab":"3d0faef1.feef72","order":1,"disp":true,"width":"12","collapse":false},{"id":"cd052493.f61ef8","type":"ui_group","name":"Move Animation","tab":"3d0faef1.feef72","order":2,"disp":true,"width":"12","collapse":false},{"id":"db985a1.6b4e2a8","type":"ui_group","name":"Control","tab":"3d0faef1.feef72","order":3,"disp":true,"width":"12","collapse":false},{"id":"3d0faef1.feef72","type":"ui_tab","name":"Test Animation","icon":"dashboard","disabled":false,"hidden":false}]